:root {
    --mdc-theme-primary: #045d56;
    /* --dark: #33333D; */
    --dark: #1A1D21;
    /* --dark-2 : #2d2d2d; */
    --dark-2 : #2d2d2d;
    --dark-3 : #2a2e35;
    --grey : #979797;
    --dark-grey: #1F2227;
    --deep-dark-grey : #4f5655;
    --primary: #00312a;
    --primary-hightlight: #1EB980;
    --secondary: #045d56;
    --black: #101211;

}
html {
    font-size: 14.5px;
    color: white;
}


body{
    margin: 0;
    background-color:var(--dark);
    font-family: 'IBM Plex Sans KR', sans-serif;
    
    overflow-x: hidden;
    position: fixed;
    width: 100vw;
    height: 100vh;
}

html > *  {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }


main {
    background-color: var(--dark);
    
    padding-top: 0.5rem !important;
    padding-right: 0.5rem;
    padding-left: 0.5rem;

    overflow: overlay;
    height: calc(100vh - 180px);
    transition: background ease-in-out 0.5s;
}

main.loading{
    background: url("../resource/mococo_idk.png") no-repeat center center;
    background-color: var(--dark-grey);
    /* background-color: red; */
    background-size: 200px;
    background-position-y: 300px;
}


/* scroll */
.scroll::-webkit-scrollbar {
    width: 30px;
}

.scroll::-webkit-scrollbar-thumb {
    border: 10px solid transparent;
    box-shadow: inset 5px 0 0 0 rgba(0,0,0,0);
}

.scroll::-webkit-scrollbar-track {
    opacity: 0;
}



#main-container {
    transition: margin-left 0.55s ease-in-out;
    margin-left: 0;
}

#main-container.right {
    margin-left: -100vw;
}

.mdc-top-app-bar {
    width: 100vw;
    position: sticky;
    top:0;

}


.justify-content-center {
    justify-content: center;
}


.text-color-highlight{
    color: #1EB980;
}

.raid-list-info .text-color-highlight{
    margin-right: 0.5rem;
}




.raid-list-info {
    display: flex;
    align-items: flex-end;
}

.mdc-card{
    box-shadow: none;
    border-radius: 0;
}

.bg-dark-1 {
    background-color:var(--dark);
}

.text-white-2{
    color: rgb(151, 151, 151);
}
.text-white-2-i{
    color: rgb(151, 151, 151) !important;
}


.raid-time {
    margin-left: 0.2rem;
    font-size: 0.9rem;
}


.list.me {
    border-left: 0.5rem solid #1EB980;
}
.list {
    border-left: 0.5rem solid #045D56;
}
.raid-list.complete {
    border-left: 0.5rem solid #535353;
    
}
.raid-list.complete *,
.raid-member-container.complete * {
    color: var(--grey) !important;
}
.raid-member-container.complete .heal{
    background-color: #2a0e1c !important;
}

.raid-list{
    padding: 1rem 2rem 1rem 0.25rem;
    margin: 0.2rem 0rem;
    background-color:var(--dark-grey);
    flex-direction: row;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    z-index: 999;

}

#progress-bar {
    height: 2px;
    width: 100vw;
    transition: background-color 0.55s cubic-bezier(0.075, 0.82, 0.165, 1);
    background-color: var(--dark);
    position: sticky;
    top: 56px;
    z-index: 999;
}

#progress-bar.on {
    background-color: #045d56;
    /* background-color: var(--dark-grey); */
    display: block;
    height: 2px;
    width: 100%;
}

#progress-bar-highlight{
    transition: none;
    height: 2px;
    width: 40%;
    margin-left: -40%;
}
#progress-bar-highlight.s{
    margin-left: 100%;
    transition: margin-left 1s cubic-bezier(0.39, 0.58, 0.57, 1);
}








.raid-name{
    font-size: 1.25rem;
    /* font-weight: bold; */
}



.p1 {
    padding: 0.5rem;
}
.p2 {
    padding: 0.7rem;
}



.raid-info-container {
    display: flex;
    justify-content: space-around;
    padding: 1rem 0rem;
    width:100vw;

    position:sticky;
    position:-webkit-sticky;
    top: 58px;
    z-index: 999;
    background: var(--dark);
    
}
.raid-info-container > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.big {
    font-size: 3rem;
}

.raid-member-container .big {
    font-size: 1.2rem;
}

.raid-name-container {
    display: flex;
    align-items: center;
}

.raid-member-container.complete {
    color: var(--grey)
}

.text-medium {
    font-size: 2rem;
}

.raid-progress-subtitle {
    position: absolute;
    margin-top: 0.9rem;
    
}

.raid-progress-value {
    position: absolute;
    margin-top: 1.5rem;
    
}

.raid-member-container {
    transition: opacity 0.5s ease-in-out,
                height 0.5s ease-in-out,
                margin-top 0.5s ease-in-out;

    opacity: 0;
    margin-top:-5rem;
    height:5rem;

}

.unfold .raid-member-container {
    opacity: 1;
    margin-top:0;
}

.arrow-up {
    transition: transform 0.5s ease-in-out;
}
.unfold .arrow-up{
    /* display: none; */
    transform: rotate(180deg);
    /* transform: rotateX(180deg) */
}

.complete-button-container,
.raid-member-simple {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;
    width: calc(50% - 0.6rem);
    margin: 0.1rem 0;
    padding: 0.5rem 0.25rem;
    background-color: var(--dark-grey);
    box-shadow: inset 0 0.4rem 0px var(--deep-dark-grey);
    -webkit-tap-highlight-color: transparent;    
}

.complete-button-container.disabled {
    box-shadow: inset 0 0.4rem 0px var(--deep-dark-grey);
    background-color: var(--dark-grey);
    color:var(--grey)
}


.raid-member-simple.me{
    box-shadow: inset 0 0.4rem 0px var(--secondary);
}

.complete-button-container {
    background: var(--primary);
    height: 48px;
    flex-direction: row;
    cursor: pointer;
    box-shadow: inset 0 0.4rem 0px var(--secondary);
}


.pointer {
    cursor: pointer;
}



.btn-complete{
    width:100%;
    height:100%;
    background: transparent;
    border: transparent;
    color: white;
    outline: none;
    font-size: 1rem;
}



.raid-member-simple .char-name{
    color:var(--grey);
    font-size: 0.9rem;
}

.raid-member-simple.me .user-name{
    /* color:var(--primary-hightlight);     */
}

.raid-member-list {
    transition:margin-top,opacity 0.5s ease-in-out;
    display: inline-flex;
    padding: 0.5rem;
    /* margin-top: -0.25rem; */
    margin-bottom: 0.25rem;
    width: calc(100vw - 2.5rem);
    height:auto;
    
    /* background-color: var(--dark-grey); */
    flex-wrap: wrap;
    justify-content: space-between;
    opacity: 1;
    /* position:fixed; */
}

.raid-member-list.h {
    margin-top: -10vh;
    opacity: 0;
}





.badge {
    border-radius: 2px;
    padding: 0 0.5rem;
    background-color: var(--black);
    font-size: 0.9rem;
}



.badge.ilv{
    background-color: var(--secondary);
}
.badge.job{
    background-color: var(--black);
}


.badge.heal {
    background-color: #FFB5DB;
    color: #980000;
}


.char-name-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}






/* pure ripple css */
.ripple {
    background-position: center;
    transition: background 0.8s;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}
.ripple:hover {
    background: var(--dark-grey) radial-gradient(circle, transparent 1%, var(--dark-grey) 1%) center / 15000%;
}

.ripple:active {
    background-color: var(--dark-3);
    background-size: 1%;
    transition: background 0s;
}


.ripple.primary:hover {
    background: var(--primary) radial-gradient(circle, transparent 1%, var(--primary) 1%) center / 15000%;
}

.ripple.primary:active {
    background-color: var(--secondary);
    background-size: 100%;
    transition: background 0s;
}












/* modal */

#modal{
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    z-index: 99999;
    opacity:1;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);

    transition: opacity 0.5s ease-in-out;
} 

.modal-pop{
    top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: absolute;
    z-index: 99999;

    /* width: min(100vw, 280px); */
    /* height: min(100vh, 400px); */
    padding: 2rem;
    
    background-color: var(--dark);
    /* opacity: 0.5; */
} 

.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: var(--secondary)
}

.hidden {
    /* visibility: hidden; */
    display: none;
}


#modal.hidden{
    z-index: -1;
    opacity:0;
}



.raid-container:not(.hidden){
    display: block;

    transition: all 0.5s ease-in-out;

    opacity: 1;
    transform: translateX(0);
    height: auto;
    

}
.raid-container.hidden{
    /* TODO 여기 깔끔하게 페이드아웃 . 옆으로 빼거나 해야 함 */
    display: block;
    animation: card-out 0.75s ease-in-out;
    animation-iteration-count: 1;
    animation-direction: alternate;

    opacity: 0;
    transform: translateX(-100%);
    height: 0px;

}

@keyframes card-out {
    0% {
        opacity: 1;
        transform: translateX(0);
        height: auto;
        
    }

    80% {
        opacity: 1;
        transform: translateX(-100%);
        height: auto;
    }
    100%{
        opacity: 1;
        transform: translateX(-100%);
        height: 0px;
    }
}
