:root {
    --dark: #33333D;
}
html {
    font-size: 14.5px;
    color: white;
}


body{
    margin: 0;
    background-color:var(--dark);
    font-family: 'IBM Plex Sans KR', sans-serif;
    
    overflow-x: hidden;
    position: fixed;
    width: 100vw;
    height: 100vh;
}

html > *  {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }


main {
    background-color: var(--dark);
    
    padding-top: 0.5rem !important;
    overflow-y: auto;
    width: 100vw;
    height: calc(100vh - 190px);

    /* overflow-x: hidden; */
}

.mdc-top-app-bar {
    width: 100vw;
    position: sticky;
    top:0;

}


.justify-content-center {
    justify-content: center;
}


.text-color-highlight{
    color: #1EB980;
}

.raind-list-info .text-color-highlight{
    margin-right: 0.5rem;
}


.raid-list{
    padding: 1rem;
    margin: 0.2rem 0rem;
    background-color:#373740;
    flex-direction: row;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;

}

.raind-list-info {
    display: flex;
    align-items: flex-end;
}

.mdc-card{
    box-shadow: none;
    border-radius: 0;
}

.bg-dark-1 {
    background-color:var(--dark);
}

.text-white-2{
    color: rgb(151, 151, 151);
}
.text-white-2-i{
    color: rgb(151, 151, 151) !important;
}


.raid-time {
    margin-left: 0.2rem;
    font-size: 0.9rem;
}


.list-me {
    border-left: 0.5rem solid #1EB980;
}
.list-me-not {
    border-left: 0.5rem solid #045D56;
}
.raid-list.complete {
    border-left: 0.5rem solid #535353;
    
}
.raid-list.complete * {
    color: #696969;
}



#progress-bar {
    height: 2px;
    width: 100vw;
    background-color: var(--dark);
    position: sticky;
    top: 56px;
    z-index: 999;
}

#progress-bar.on {
    background-color: #045d56;
    display: block;
    height: 2px;
    width: 100%;
}

#progress-bar-highlight{
    transition: margin-left 2500ms cubic-bezier(0.39, 0.58, 0.57, 1);
    
    height: 2px;
    width: 40%;
    margin-left: -40%;
    
}
#progress-bar-highlight.s{
    margin-left: 100%;
}

.raid-list {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    align-items: center;
    
}



.raid-name{
    font-size: 1.25rem;
    /* font-weight: bold; */
}



.p1 {
    padding: 0.5rem;
}
.p2 {
    padding: 0.7rem;
}



.raid-info-container {
    display: flex;
    justify-content: space-around;
    padding: 1rem 0rem;
    

    position:sticky;
    position:-webkit-sticky;
    top: 58px;
    z-index: 999;
    background: var(--dark);
    
}
.raid-info-container > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.raid-info-container > div span.big {
    font-size: 3rem;
}
.text-medium {
    font-size: 2rem;
}

.raid-progress-subtitle {
    position: absolute;
    margin-top: 0.9rem;
    
}

.raid-progress-value {
    position: absolute;
    margin-top: 1.2rem;
    
}